.ngnestedtree-main {
  ul {
    position: relative;
    padding: 0 .2em;
    overflow: hidden;
    list-style-type: none;

    &:first-child {
      > li:first-child::before,
      > li:first-child::after {
        display: none;
      }
    }

    &:last-child {
      li:last-child:after {
        height: 1.3em;
      }
    }
  }


  li {
    position: relative;
    padding: 0 .75em;
    margin: 0;

    &::before {
      top: .625em;
      width: .625em;
      height: 0;
      border-top: 1px solid;
    }

    &:after {
      top: -.625em;
      width: 0;
      height: 100%;
      border-left: 1px solid;
    }
  }

  li::before,
  li::after {
    position: absolute;
    left: 0;
    content: '';
  }

  > li::after {
    top: .625em;
  }

  > li:last-child::after {
    display: none;
  }

  .ngnestedtree-title {
    padding: .2em;
    margin-left: .5em;

    &:hover {
      cursor: pointer;
    }
  }

  .ngnestedtree-selected {
    background: #ccccea;
    border: 1px dotted;
    border-radius: 3px;
  }

  .ngnestedtree-icon {
    width: 1em;
    height: 1em;
    cursor: pointer;

    &:after {
      content: '+';
    }
  }
}
