@mixin ul-before {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  display: block;
  width: 0;
  border-left: 1px solid;
  content: '';
}

%list-none {
  list-style: none;
}

.ngnestedtree-main {
  ul {
    @extend %list-none;
  }

  * {
    ul {
      @extend %list-none;

      position: relative;
      padding: 0;

      &:before {
        @include ul-before;
      }

      li {
        position: relative;
        padding: 0 1.5em;
        margin: 0;
        line-height: 2em;

        &:before {
          position: absolute;
          top: 1em;
          left: 0;
          display: block;
          width: 10px;
          height: 0;
          margin-top: -1px;
          border-top: 1px solid;
          content: '';
        }

        &:last-child:before {
          top: 1em;
          bottom: 0;
          height: auto;
          background: #fff;
        }
      }
    }
  }

  .ngnestedtree-title {
    padding: .2em;

    &:hover {
      cursor: pointer;
    }
  }

  .ngnestedtree-selected {
    background: #ccccea;
    border: 1px dotted;
    border-radius: 3px;
  }

  .ngnestedtree-icon {
    width: 1em;
    height: 1em;
    padding-right: .5em;
    cursor: pointer;

    &:after {
      content: '+';
    }
  }

  &:before {
    @include ul-before;
  }

}
