doctype html
html(xmlns:ng='http://angularjs.org', ng-app='ngNestedTreeDemo', ng-controller="main")
  head
    title ng-nestedtree - An Angular.js directive for awesome nested trees
    link(rel='stylesheet', href='ng-nestedtree.css')
  body
    script(src="angular.min.js")
    script(src="demo.js")
    script(src="ng-nestedtree.js")
    ng-nested-tree(tree="home", on-click-cb="cb", expand="true", select-only-childless="true")
    h1
      a(href="https://github.com/komachi/ng-nestedtree") Check out GitHub page
